<html>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Epicture</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li th:classappend="active">
                    <a href="#" th:href="@{/}">Home</a>
                </li>
                <li th:classappend="active">
                    <a href="#" id="gallery" th:href="@{/gallery}" th:text="#{gallery}"></a>
                </li>
                <li th:classappend="active">
                    <a href="#" th:href="@{/bucket}" th:text="#{shop}"></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a id="profile" href="/signin" th:href="@{/profile}">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </a>
                </li>
                <li>
                    <a sec:authorize="isAnonymous()" href="/signin" th:href="@{/login}">
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;<span th:text="#{signIn}"></span>
                    </a>
                    <a sec:authorize="isAuthenticated()" href="/signin" th:href="@{/logout}">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;<span th:text="#{signOut}"></span>
                    </a>
                </li>
                <li>
                    <a id="fr" th:href="@{''(lang=fr)}">fr</a>
                </li>
                <li>
                    <a id="us" th:href="@{''(lang=us)}">us</a>
                </li>

            </ul>
        </div>
    </div>
</div>
</body>
</html>